.str li{
    display: inline-block;
    width: 150px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}

li,
li:link,
li:visited,
li:active, 
li:focus
{
    text-decoration: none;
    color: black
}

li:hover
{
    text-decoration: underline;
    color: yellowgreen;
    background-color: rgb(53, 50, 50);
}

.str-back{
    background-image: url(../images/back.png);
    width: 100%;
    height: 700px;
    background-repeat:  no-repeat;
    background-size: cover;
    position: relative;
}

.image-text1{
    position: absolute;
    left: 350px;
    top: 200px;
    font-size: 40px;
    font-weight: 700;
}

.image-text2{
    position: absolute;
    left: 280px;
    top: 210px;
    font-size: 70px;
    font-weight: 900;
}

.image-text3{
    position: absolute;
    left: 350px;
    top: 320px;
    font-size: 40px;
    font-weight: 700;
}

.text-button{
    position: absolute;
    left:390px;
    top:410px;
    padding: 0.5%;
    border: 1px solid;
    border-radius: 10px;
    font-size: 14px;
}

.text-button,
.text-button:link,
.text-button:visited,
.text-button:active,
.text-button:focus{
    text-decoration: none;
    color: black;
}

.text-button:hover{
    text-decoration: underline;
    color: white;
    background-color: black;
    border: black;
}
